<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freelance Portfolio</title>
  </head>
  <body>
    <!-- cabecera de la página -->
    <header>
      <!-- logotipo/marca -->
      <a href="">freelance portfolio</a>
      <!-- menu de navegación -->
      <nav>
        <ul>
          <li>
            <a href="#portfolio">portfolio</a>
          </li>
          <li>
            <a href="#about">about</a>
          </li>
          <li>
            <a href="#contact">contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- sección principal del sitio -->
    <main>
      <!-- sección banner -->
      <section>
        <!-- imagen de perfil -->
        <img src="/images/profile.png" alt="imagen de perfil" />
        <!-- nombre de perfil -->
        <h1>freelance portfolio</h1>
        <!-- adorno estrella -->
        <div>
          <hr />
          <p>estrella</p>
          <hr />
        </div>
        <!-- descripción corta del perfil -->
        <p>Web Developer - Graphic Artist - User Experience Designer</p>
      </section>

      <!-- sección de imagenes del portfolio -->
      <section>
        <h2>portfolio</h2>
        <div>
          <hr />
          <p>estrella</p>
          <hr />
        </div>
        <div class="home__main__section--portfolio--images">
          <img src="/images/cabin.png" alt="imagen de cabaña" />
          <img src="/images/cake.png" alt="imagen de pastel" />
          <img src="/images/circus.png" alt="imagen de circo" />
          <img src="/images/game.png" alt="imagen de joystick" />
          <img src="/images/safe.png" alt="imagen de caja fuerte" />
          <img src="/images/submarine.png" alt="imagen de submarino" />
        </div>
      </section>

      <!-- seccion acerca de mí -->
      <section>
        <h2>about</h2>
        <div>
          <hr />
          <p>estrella</p>
          <hr />
        </div>
        <div>
          <p>
            Freelance is a free landing page theme created for free use. The
            download includes the complete source files including HTML, CSS, and
            JavaScript as weel as optional SASS stylesheets for easy
            customization
          </p>
          <p>
            Whether you're a student looking to showcase your work, a
            professional looking to attact clients, or a graphic artist looking
            to share your projects, this template is the perferct starting
            point!
          </p>
        </div>
      </section>

      <!-- seccion del formulario de contacto -->
      <section>

      </section>
    </main>
    <!-- pie de pagina (footer) -->
     <footer>
      <section>
        <!-- dirección -->
        <article>
            <h3>location</h3>
            <p>2215 Jhon Daniel Drive</p>
            <p>Clark, MO 65243</p>
        </article>
        <!-- redes sociales -->
        <article>
            <h3>around the web</h3>
            <div>
                <a href="">facebook</a>
                <a href="">google</a>
                <a href="">twitter</a>
                <a href="">linkedin</a>
                <a href="">dribbble</a>
            </div>
        </article>
        <!-- acerca de mi -->
        <article>
            <h3>about freelancer</h3>
            <p>Freelance is free and open souce landing page theme created to <span>your free personal use</span>.</p>
        </article>
    </section>
     </footer>
  </body>
</html>
