@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./variables.css');
@import url('./general.css');


.header {
    background-color: var(--color-azul);
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
    padding: 30px 10px 20px;
}

.header h2 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

.header__a--menu {
    background-color: var(--color-verde);
    font-family: "Montserrat", sans-serif;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem
}

.header__nav {}

.header__nav--principal {}

.header__nav--principal ul li {
    list-style: none;
}

.main__section--banner {
    background-color: var(--color-verde);
    color: #ffff;
    padding: 40px;
    text-align: center;
}

.main__section--banner h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    line-height: 40px;
    margin: 30px 0;
}

.main__section--banner p {
    padding: 10px;
    font-size: 1.35rem;
    margin-top: 10px;
}

.main__section--portfolio {
    text-align: center;
    color: #ffff;
    padding: 70px 10px;
    text-align: center;
}

.main__section--portfolio img {
    width: 300px;
}

.main__section--about {
    background-color: var(--color-verde);
    color: #ffff;
    text-align: center;
    padding: 80px 20px;
}

.main__section--about h2 {
    color: #ffff;
}

.main__section--about p {
    text-align: left;
    line-height: 30px;
    font-size: 1.3rem;
}

.main__section--about a {
    display: inline-block;
    padding: 20px;
    border:solid  2px #ffff;
    border-radius: 2px;
    margin-top: 90px;
}

.main__section--about a span {
    margin: ;
}

#contact {
    text-transform: uppercase;
}

footer {
    background-color: var(--color-azul);
    text-transform: uppercase;
    color: #ffff;
}

footer h3 {
    text-transform: uppercase;
    margin: 30px;
    color:#ffff;
    font-weight: 800;
}

.parrafo {
    font-size: 30px;
    line-height: 40px
}