@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./variables.css');
@import url('./general.css');
@import url('./forms.css');


.header {
    background-color: var(--color-azul);
    color: #ffff;
    padding: 30px 10px 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.header h2 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

.header__a--menu {
    background-color: var(--color-verde);
    font-family: "Montserrat", sans-serif;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.header__nav--principal {
    display: none;
}

.header__nav--principal ul {
    list-style: none;
}

.main__section--banner {
    background-color: var(--color-verde);
    color: #ffff;
    padding: 40px 10px 60px;
    text-align: center;
}

.main__section--banner h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    line-height: 48px;
    margin: 30px 0;
}

.main__section--banner p {
    font-size: 1.35rem;
}

.main__section--portfolio {
    text-align: center;
    color: var(--color-azul);
    padding: 80px 10px;
    text-align: center;
}

.main__section--portfolio hr {
    border: 2px solid var(--color-azul);
}

.main__section--portfolio-box-images {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.main__section--portfolio-box-images img {
    width: 100%;
}

.main__section--about {
    background-color: var(--color-verde);
    color: #ffff;
    text-align: center;
    padding: 80px 10px;
}

.main__section--portfolio hr {
    border: 2px solid 
}

.main__section--about h2 {
    color: #ffff;
}

.box-text--about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box-text--about p {
    text-align: left;
    line-height: 30px;
    font-size: 1.25rem;
}

.main__section--portfolio hr .section--contact hr {
    border: 20x solid 
}

.main__section--contact {
    text-align:center;
    padding: 80px 10px;
    color: var(--color-azul);
}

.main__section--about a {
    display: inline-block;
    padding: 20px;
    border:solid  2px #ffff;
    border-radius: 2px;
    margin-top: 90px;
}

.main__section--about span {
    margin-left: 10px;
}

#contact {
    text-transform: uppercase;
}

.footer {
    background-color: var(--color-azul);
    text-transform: uppercase;
    color: #ffff;
    text-align: center;
    padding: 80px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}

footer h3 {
    text-transform: uppercase;
    margin: 30px 0;
    color:#ffff;
    font-weight: 800;
    font-size: 1.4rem;
}

.box-redes--footer {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    padding: 0 60px;
}

.box-redes--footer a {
    display: inline-block;
    border-radius: 50%;
    border: solid 1px #ffff;
    padding: 8px;
    width: 40px;
}

@media (min-width: 768px) {
    .header {
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    }

    .main__section--portfolio-box-images {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: space-between (15px);
        padding: 0 30px;
    }

    .main__section--portfolio-box-images img {
        width: 48.5%;
    }

    .box-text--about {
        padding: 0 30px;
        }

    .main__section--about {
        padding: 80px 40px;
    }

    .main__section--contact {
        padding: 80px 40px;
    }
}

@media (min-width: 1024px) {

    .header {
        padding: 30px 60px;
        }

    .header__nav--principal {
        display: block;
    }

    .header__a--menu {
        display: none;
        text-transform: uppercase;
    }

    .header__nav--principal ul {
        display: flex;
        gap: 25px;
        font-weight: 500;
    }

    .main__section--portfolio-box-images {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: space-between (15px);
        padding: 0 50px;
    }

    .main__section--portfolio-box-images img {
        width: 32%;
    }

    .box-text--about {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        width: 55vw;
        margin: 0 auto;
    }

    .main__section--contact {
        width: 55vw;
        margin: 0 auto;
    }

    .footer {
        flex-wrap: wrap;
        flex-direction: row;
    }
}

